{% extends 'main/base.html' %}

{% block content%}
<style>
   .fig {
    text-align: center; /* Выравнивание по центру */
   }
</style>
<h2 class="row" mb-3>
    <li><a href="/materials" class="text-black">Назад</a></li>
</h2>

<div class="row">
    <div class="col">
        <div class="card">

            <div class="card-body">
              <p class="card-text">{{ object|title }}</p>
                <p class="fig"><img  src="/media/{{ object.image }}"></rect></img></p>
                <p class="card-text">{{ object.description}}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <big class="text-body-secondary">{{ object.datetime_create }}</big>
                </div>
                Просмотры:  {{ object.view_count }}
            </div>
        </div>
    </div>
</div>

{% endblock %}