{% extends 'main/base.html' %}

{% block content%}
{% if perms.main.update_product %}
    <a class="btn btn-info mb-3" href="product_create" role="button">Добавить новый продукт</a>
{% endif %}
<a class="btn btn-info mb-3" href="category_list" role="button">Категории</a>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    {% for object in object_list %}
        {% if object.is_published or perms.main.change_product %}
            <div class="col-6">



                  <div class="card shadow-sm">

                      <img src={{ object.image.url }} class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#55595c"></rect></img>

                    <div class="card-body">
                      <p class="card-text">{{ object|title }}</p>
                      <p class="card-text">{{ object.user_prod }}</p>
                            <p>{{ object.description|slice:100 }}</p>

                      <div class="d-flex justify-content-between align-items-center">

                        <small class="text-body-secondary">{{ object.datetime_create }}</small>

                      </div>
                        <a class="btn btn-info" href="{% url 'main:product_detail' object.pk %}" role="button">Подробнее</a>
                        {% if perms.main.change_product or request.user == object.user_prod %}
                            <a class="btn btn-warning" href="{% url 'main:product_update' object.pk %}" role="button">Изменить</a>
                            {% if object.is_published and request.user == object.user_prod %}
                                <a class="btn btn-warning" href="{% url 'main:is_published' object.pk %}">Деактивировать</a>
                            {% elif not object.is_published and request.user == object.user_prod %}
                                <a class="btn btn-success" href="{% url 'main:is_published' object.pk %}">Опубликовать</a>
                            {% endif %}
                        {% if request.user.is_superuser %}
                            <a class="btn btn-danger" href="{% url 'main:product_delete' object.pk %}" role="button">Удалить</a>
                        {% endif %}
                        {% endif %}

                    </div>

                  </div>
                </div>

        {% endif %}
    {% endfor %}
              </div>

{% endblock %}