{% extends 'main/base.html' %}

{% block content%}
    <div class="col-12 m-3">
        <form class="row" method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3> Добавление продукта </h3>
                    </div>
                    <div class="body m-3">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button  type="submit" class="btn btn-success m-3">
                                {% if object %}
                                    Сохранить
                                {% else %}
                                    Создать
                                {% endif %}
                            </button>
                    <div class="card-footer"></div>
                    </div>
                </div>
            </div>
            {% if object %}
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <h3> Версии </h3>
                        </div>
                        <div class="body m-3">
                            {{ formset.management_form }}
                            {% for form in formset.forms %}
                                {{ form.as_p }}
                                {% if not forloop.last %}
                                    <hr>
                                {% endif %}
                            {% endfor %}
                        <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}